@use "sass:math";

// Кольори
$accentColor: #ffb700;
// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins";
	background-color: #000;
	color: #fff;
	font-size: 28px;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	width: 100%;
	&--padding {
		padding: 20px;
		align-items: center;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
	max-width: toRem(1400);
}

.header {
	padding: 50px 0;

	// .header__container

	&__container {
	}

	// .header__logo

	&__logo {
		text-align: center;
		color: $accentColor;
		font-size: 30px;
		font-weight: 600;
	}
}

.hero {
	width: 100%;
	padding: 100px 0;
	background-color: $accentColor;

	// .hero__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .hero__title

	&__title {
		text-align: center;
		color: #000;
		font-size: 50px;
		font-weight: 700;
		@media (max-width: 768px) {
			font-size: 30px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__text {
		font-size: 35px;
		color: #242424;
		font-weight: 500;
	}
}

.hometask {
	padding: 100px 10px;

	// .hometask__container

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
	}

	// .hometask__link-item

	&__link-item {
		text-align: center;
		padding: 20px;
		background-color: #242424;
		max-width: 780px;
		width: 100%;
		border-radius: 16px;
		border: 1px solid $accentColor;
		transition: box-shadow 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					0 0 8px $accentColor,
					0 0 16px $accentColor;
			}
		}
	}

	// .hometask__title

	&__title {
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	// .hometask__text

	&__text {
		font-size: 22px;
	}
}

.block {
	padding-bottom: 50px;

	// .block__item

	&__item {
		padding: 20px;
		max-width: 800px;
		background-color: #242424;
		border-radius: 16px;
		border: 1px solid $accentColor;
	}

	&__text {
	}
	p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.result {
	p {
		padding: 10px 0;
		&:not(:last-child) {
			border-bottom: 1px dotted $accentColor;
		}
	}
}

.hellobtn {
	background-color: #242424;
	padding: 15px 28px;
	border: 1px solid $accentColor;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&:hover {
		background-color: $accentColor;
	}
}

.product-input {
	padding: 5px;
	border-radius: 5px;
	max-width: 200px;
	border: 1px solid $accentColor;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

table td {
	border: 1px solid $accentColor;
	padding: 5px;
}

.hexagon-shape {
	position: relative;
	width: 100%;
	aspect-ratio: 1.12;
	background-color: rgb(78, 183, 40);
	clip-path: polygon(
		69.976% 1.149%,
		69.977% 1.149%,
		69.977% 1.149%,
		70.867% 1.195%,
		71.739% 1.343%,
		72.585% 1.592%,
		73.4% 1.935%,
		74.177% 2.371%,
		74.911% 2.894%,
		75.593% 3.5%,
		76.219% 4.187%,
		76.782% 4.949%,
		77.275% 5.783%,
		77.275% 5.784%,
		97.811% 44.919%,
		97.812% 44.919%,
		97.812% 44.919%,
		98.224% 45.807%,
		98.545% 46.728%,
		98.777% 47.675%,
		98.918% 48.638%,
		98.969% 49.609%,
		98.93% 50.581%,
		98.8% 51.545%,
		98.581% 52.493%,
		98.271% 53.416%,
		97.871% 54.307%,
		97.87% 54.309%,
		77.829% 93.763%,
		77.829% 93.763%,
		77.346% 94.606%,
		76.792% 95.377%,
		76.175% 96.073%,
		75.5% 96.691%,
		74.773% 97.225%,
		74.001% 97.673%,
		73.19% 98.029%,
		72.346% 98.291%,
		71.476% 98.454%,
		70.586% 98.515%,
		69.564% 98.524%,
		69.564% 98.537%,
		30.024% 98.851%,
		30.023% 98.851%,
		30.023% 98.851%,
		29.132% 98.805%,
		28.261% 98.657%,
		27.414% 98.408%,
		26.599% 98.065%,
		25.822% 97.629%,
		25.089% 97.106%,
		24.406% 96.499%,
		23.78% 95.813%,
		23.217% 95.05%,
		22.724% 94.216%,
		22.725% 94.216%,
		2.189% 55.068%,
		2.188% 55.067%,
		2.188% 55.067%,
		1.776% 54.178%,
		1.455% 53.257%,
		1.223% 52.311%,
		1.082% 51.348%,
		1.031% 50.376%,
		1.07% 49.404%,
		1.2% 48.44%,
		1.419% 47.493%,
		1.729% 46.569%,
		2.129% 45.678%,
		2.13% 45.676%,
		22.171% 6.222%,
		22.171% 6.222%,
		22.654% 5.38%,
		23.207% 4.608%,
		23.825% 3.912%,
		24.5% 3.294%,
		25.227% 2.76%,
		25.999% 2.312%,
		26.809% 1.955%,
		27.653% 1.693%,
		28.523% 1.53%,
		29.413% 1.469%,
		69.976% 1.149%
	);
	z-index: 5;
}

.hexagon-shape::before {
	content: "";
	position: absolute;
	top: 4px; /* збільшуємо, щоб було видно обведення */
	left: 4px;
	right: 4px;
	bottom: 4px;
	background-color: rgb(255, 255, 255); /* колір обводки */
	opacity: 0.3;
	clip-path: polygon(
		69.976% 1.149%,
		69.977% 1.149%,
		69.977% 1.149%,
		70.867% 1.195%,
		71.739% 1.343%,
		72.585% 1.592%,
		73.4% 1.935%,
		74.177% 2.371%,
		74.911% 2.894%,
		75.593% 3.5%,
		76.219% 4.187%,
		76.782% 4.949%,
		77.275% 5.783%,
		77.275% 5.784%,
		97.811% 44.919%,
		97.812% 44.919%,
		97.812% 44.919%,
		98.224% 45.807%,
		98.545% 46.728%,
		98.777% 47.675%,
		98.918% 48.638%,
		98.969% 49.609%,
		98.93% 50.581%,
		98.8% 51.545%,
		98.581% 52.493%,
		98.271% 53.416%,
		97.871% 54.307%,
		97.87% 54.309%,
		77.829% 93.763%,
		77.829% 93.763%,
		77.346% 94.606%,
		76.792% 95.377%,
		76.175% 96.073%,
		75.5% 96.691%,
		74.773% 97.225%,
		74.001% 97.673%,
		73.19% 98.029%,
		72.346% 98.291%,
		71.476% 98.454%,
		70.586% 98.515%,
		69.564% 98.524%,
		69.564% 98.537%,
		30.024% 98.851%,
		30.023% 98.851%,
		30.023% 98.851%,
		29.132% 98.805%,
		28.261% 98.657%,
		27.414% 98.408%,
		26.599% 98.065%,
		25.822% 97.629%,
		25.089% 97.106%,
		24.406% 96.499%,
		23.78% 95.813%,
		23.217% 95.05%,
		22.724% 94.216%,
		22.725% 94.216%,
		2.189% 55.068%,
		2.188% 55.067%,
		2.188% 55.067%,
		1.776% 54.178%,
		1.455% 53.257%,
		1.223% 52.311%,
		1.082% 51.348%,
		1.031% 50.376%,
		1.07% 49.404%,
		1.2% 48.44%,
		1.419% 47.493%,
		1.729% 46.569%,
		2.129% 45.678%,
		2.13% 45.676%,
		22.171% 6.222%,
		22.171% 6.222%,
		22.654% 5.38%,
		23.207% 4.608%,
		23.825% 3.912%,
		24.5% 3.294%,
		25.227% 2.76%,
		25.999% 2.312%,
		26.809% 1.955%,
		27.653% 1.693%,
		28.523% 1.53%,
		29.413% 1.469%,
		69.976% 1.149%
	);
	z-index: -1;
	pointer-events: none;
	filter: blur(0); /* якщо хочеш, щоб було чітко */
	border-radius: 0; /* якщо потрібно */
}
